/* For javascript */
.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}

.redfont {
    color: red;
}

/* Scroll buttons */
#scrollDown {
    position: absolute;
    top: 190px;
    right: 80px;
    opacity: 0.1;
    transition: 0.3s;
}

#scrollDown:hover {
    opacity: 1
}

#scrollUp {
    position: absolute;
    right: 80px;
    opacity: 0.1;
    transition: 0.3s;
}

#scrollUp:hover {opacity: 1}

.columns:not(:last-child) {
    margin-bottom: calc(1.5rem - .75rem);
}

section {
    margin: 8px;
}

 /* + and - buttons */
#btnNewVideo, #btnDelVideo {
    background-color: white;
}